
.Rhistory
.Rproj.user/07479E41/pcs/files-pane.pper
.Rproj.user/07479E41/pcs/source-pane.pper
.Rproj.user/07479E41/pcs/windowlayoutstate.pper
.Rproj.user/07479E41/pcs/workbench-pane.pper
.Rproj.user/07479E41/rmd-outputs
.Rproj.user/07479E41/saved_source_markers
.Rproj.user/07479E41/sources/prop/BB2500D7
.Rproj.user/07479E41/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
