
.Rhistory
.Rproj.user/07479E41/pcs/files-pane.pper
.Rproj.user/07479E41/pcs/source-pane.pper
.Rproj.user/07479E41/pcs/windowlayoutstate.pper
.Rproj.user/07479E41/pcs/workbench-pane.pper
.Rproj.user/07479E41/rmd-outputs
.Rproj.user/07479E41/saved_source_markers
.Rproj.user/07479E41/sources/prop/BB2500D7
.Rproj.user/07479E41/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
Portfolio-main/projects/basketball/good_bad_picks.Rmd
Portfolio-main/projects/basketball/fantasy2023.Rmd
Portfolio-main/projects/basketball/fantasy_rankings_22_2.xlsx
portfolio.Rproj
Portfolio-main/projects/index.Rmd
Portfolio-main/projects/basketball/basketball_fantasy_rankings.Rmd
Portfolio-main/projects/basketball/fantasy.R
Portfolio-main/projects/climate change course/table5.html
Portfolio-main/projects/climate change course/p_df_climate.csv
Portfolio-main/projects/climate change course/misinformation_project.Rmd
Portfolio-main/projects/climate change course/fulldatasetv2.csv
Portfolio-main/projects/climate change course/figures.Rmd
Portfolio-main/projects/climate change course/data_frame_making.Rmd
Portfolio-main/projects/misinformation course/fulldatasetv2.csv
Portfolio-main/projects/misinformation course/misinformation_project.Rmd
Portfolio-main/projects/climate change course/data_frame making.R
Portfolio-main/projects/climate change course/dataset2.xlsx
